VITE_SUPABASE_URL=

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbWF5bnRqdHV5anhndnRoanNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0MzQ4NzcsImV4cCI6MjA5MjAxMDg3N30.nPWfoP5Ql1iRY2dLWBTPjG1Rlhy8pxJMK4ggsXsGbBo